/* embedded google font
==================== */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* share styles
============ */
body{
    margin: 0;
    padding: 0;
    font-family: "Mulish", sans-serif;
}
header, main{
    margin: 0 auto;
    max-width: 1200px;
}
:root{
    --text-14: 0.8rem;
    --text-16: 1rem;
    --text-18: 1.12rem;
    --text-20: 1.25;
    --text-24: 1.5rem;
    --text-28: 1.75rem;
    --text-36: 2.25rem;
    --text-40: 2.5rem;
    --text-64: 4rem;
    --font-300: 300;
    --font-400: 400;
    --font-700: 700;
    --font-800: 800;
    --text-131318: #131318;
    --text-424247: #424247;
    --text-light-rgb19: rgba(19, 19, 24, 0.7);
    --text-more-light:rgba(19, 19, 24, 0.5);
    --text-gray-5D: #5A5A5D;
    --text-orange: #FF5400;
    --text-white: white;

}
.text-14{
    font-size: var(--text-14);
}
.text-16{
    font-size: var(--text-16);
}
.text-18{
    font-size: var(--text-18);
}
.text-20{
    font-size: var(--text-20);
}
.text-24{
    font-size: var(--text-24);
}
.text-28{
    font-size: var(--text-28);
}
.text-36{
    font-size: var(--text-36);
}
.text-40{
    font-size: var(--text-40);
}
.text-64{
    font-size: var(--text-64);
}
.font-300{
    font-weight: var(--font-300);
}
.font-400{
    font-weight: var(--font-400);
}
.font-700{
    font-weight: var(--font-700);
}
.font-800{
    font-weight: var(--font-800);
}
.text-131318{
    color: var(--text-131318);
}
.text-424247{
    color: var(--text-424247);
}
.text-light-rgb19{
    color: var(--text-light-rgb19);
}
.text-more-light{
    color: var(--text-more-light);
}
.text-gray-5D{
    color: var(--text-gray-5D);
}
.text-orange{
    color: var(--text-orange);
}
.text-white{
    color: var(--text-white);
}

.btn-primary{
    background-color: #FF5400;
    border: none;
    color: white;
    min-width: 120px;
    height: 38px;
    border-radius: 8px;
}
/* nav section styles
================== */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid; */
    }
.left-content{
    display: flex;
    align-items: center;
    gap: 15px;
}
.left-content img{
   width: 48px;
   height: 48px;
}
.right-content{
    display: flex;
    gap: 30px;
}
#orange{
    color: var(--text-orange);
}
.right-content a{
    text-decoration: none;
    color: var(--text-424247);
}

/* banner section styles
===================== */
.banner-container{
    height: 500px;
    background-image: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8),rgba(19, 19, 24, 0) 100%), url(../Images/banner.png);
    background-repeat: no-repeat;
    border-radius: 16px;
}
.banner-content{
   text-align: center;
   padding-top: 80px;
}
.banner-input{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 30px;
    border-radius: 8px;
    /* border: 2px solid white; */
    max-width: 600px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.3);
    margin-top: 40px;
    }
.banner-input input, select{
    width: 120px;
    height: 38px;
    border-radius: 8px;
    border: none;
    }
.banner-input ::placeholder{
    padding-left: 10px;
    color: var(--text-more-light);
    }
.banner-input select{
        padding-left: 10px;
        color: var(--text-more-light);
    }

    /* popular tour section styles
    =========================== */
    .popular-container{
        margin-top: 100px;
        display: flex;
        gap: 50px;
    }
    .popular-left-contaier{
        width: 50%;
    }
    .popular-right-container{
        width: 50%;
    }
    .popular-right-container img{
        width: 100%;
    }
    .popular-left-contaier button{
        margin-top: 40px;
    }

    /* choose destination section styles
    ================================= */
    .destination-content{
        text-align: center;
        margin-top: 100px;
        margin-bottom: 40px;
    }
    .destination-container img{
        width: 100%;
        height: 300px;
        filter: brightness(80%);
    }
    .row-1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }
    .row-2{
        display: grid;
        grid-template-columns: .75fr 1fr .75fr;
        gap: 24px;
        margin-top: 24px;
    }
    .row-3{
        display: grid;
        grid-template-columns: 1.25fr  1.75fr;
        gap: 24px;
        margin-top: 24px;
    }
    .card{
        position: relative;
    }
    .center-text{
        position: absolute;
        top: 50%;
        left: 50%;
        color: white;
        font-size: var(--text-28);
        font-weight: var(--font-800);
        transform: translate(-50%, -50%);
    }

    /* why choose section style
    ======================== */
    .choose-content{
        text-align: center;
        margin-top: 100px;
        margin-bottom: 40px;
    }
    .choose-div-container{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        padding: 40px 20px;
    }
    .choose-div{
        border-radius: 10px;
        padding: 20px;
        width: 50%;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
        transition: all 0.3s ease;
        text-align: left;
    }
    .choose-div img{
        width: 7%;
    }
    .choose-first{
        display: flex;
        gap: 24px;
    }
    .choose-second{
        display: flex;
        justify-content: center;
    }
    .hotel-part{
        box-sizing: border-box;
        border: 1px solid rgba(251, 181, 99, 0.2);
        border-radius: 16px;
        background: rgba(251, 181, 99, 0.05);
    }
    .map-part{
        box-sizing: border-box;
        border: 1px solid rgba(41, 206, 246, 0.2);
        border-radius: 16px;
        background: rgba(41, 206, 246, 0.05);
    }
    .discount-part{
        box-sizing: border-box;
        border: 1px solid rgba(233, 68, 68, 0.2);
        border-radius: 16px;
        background: rgba(233, 68, 68, 0.05);
    }

    /* deals section style
    =================== */
    .deals-content-top{
        text-align: center;
    }
    .deals-img{
        height: 500px;
        background-image: url(../Images/deal_1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        margin-bottom: 24px;
    }
    .deals-img-second{
        height: 500px;
        background-image: url(../Images/deal_2.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        margin-bottom: 24px;
    }
    .deals-box-content{
        width: 610px;
        height: 400px;
        box-sizing: border-box;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 16px;
        backdrop-filter: blur(5px);
        background: rgba(255, 255, 255, 0.6);
        position: absolute;
        top: 11%;
        left: 46%;
        padding-left: 45px;
        padding-top: 45px;
    }
    .deals-box-content-second{
        width: 610px;
        height: 400px;
        box-sizing: border-box;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 16px;
        backdrop-filter: blur(5px);
        background: rgba(255, 255, 255, 0.6);
        position: absolute;
        top: 11%;
        right: 46%;
        padding-left: 45px;
        padding-top: 45px;
    }
    .deals-icon{
        display: flex;
        gap: 20px;
        
    }
    .first-icon{
        display: flex;
        align-items: center;
        gap: 5px;
    }
    .btn-second{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .deals-container button{
        padding: 10px;
       
    }

    /* simple section style
    =================== */
    .simple-container{
        display: flex;
        margin-top: 100px;
        gap: 25px;
    }
    .simple-content{
        width: 50%;
    }
    .simple-img{
        width: 50%;
    }
    .simple-img img{
        width: 100%;
    }

    /* newsletter section style
    ======================== */
   .newsletter-container{
    display: flex;
    gap: 24px;
    margin-top: 100px;
   }
   .newsletter-inputs{
    width: 40%;
    box-sizing: border-box;
    border: 1px solid rgb(255, 84, 0);
    border-radius: 16px;
    padding: 40px
   }
   .newsletter-inputs input{
    margin-top: 16px;
    width: 95%;
    font-size: 1rem;
    padding: 10px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
   }
   .newsletter-inputs button{
    border-radius: 8px;
    background: rgb(255, 84, 0);
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    margin-top: 16px;
   }
   .newsletter-img{
    width: 60%;
    position: relative;
   }
   .newsletter-img img{
    width: 100%;
   }
   .newsletter-img button{
    width: 260px;
    height: 100px;
    border-radius: 16px;
    background: rgb(255, 84, 0);
    border: none;
    position: absolute;
    right: 1%;
    top: 68%;
    rotate: -20deg;
   }
   .newsletter-img button p{
    margin-top: 15px;
   }

   /* footer section style
   ===================== */
   .foot{
    background: rgba(19, 19, 24, 0.05);
    padding-top: 110px;
    padding-bottom: 110px;
   }
   .foot .left-content{
    display: flex;
    align-items: center;
    justify-content: center;
   }
   .foot p{
    text-align: center;
   }
   .social{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 40px;
   }
   .foot hr{
    width: 65%;
    margin-bottom: 50px;
   }